/** FONTS
font-family: 'Poppins', sans-serif;
font-family: 'Slabo 13px', serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Amiko', sans-serif;
**/




.container-fluid {
  ;
}



/** Content formatting **/


.Heading {
  background: #efd50b;
}

.Titles {
  font-family: 'Poppins', sans-serif;
  background: yellow;
}

.ShoutItOut {
  color: #008C8C;
  background: #f2f2f2;
  padding-right: 2em;
  padding-left: 1em;
  
}

.CallOut {
  font-family: 'Roboto Mono', monospace;
  justify-content: end;
}

.Subtitle {
  font-family: 'Slabo 13px', serif;
  
}

.Text {
  font-family: 'Amiko', sans-serif;
   background: white;
   margin-top: 5px;
   padding-right: 2em;
}

.Subtext {
  font-family: 'Amiko', sans-serif;
   background: dark grey;
   color: white;
}

.Notes {
  font-family: 'Roboto Mono', monospace;
  
}

.ul {
    border-left: 5px solid #dbdbdb;
    list-style-type: none;
    padding: 10px 20px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.85;
}

.fa-medium {
    padding: 5px;
    font-size: 30px;
    width: 30px;
    height: auto;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background: #efd50b;

  
}

.fa-free-code-camp {
    padding: 5px;
    font-size: auto;
    width: auto;
    height: auto;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background: green;
    color: white;

  
}

